	<head> <!--head-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ site.description }}">
		<link href='http://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500' rel='stylesheet' type='text/css'>
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/atom+xml" title="rotanev" href="/feed.xml" />

		<!-- Custom CSS -->
		<link href="{{ "/css/reset.css" | prepend: site.baseurl }}" rel="stylesheet" >
		<link href="{{ "/css/bijou.min.css" | prepend: site.baseurl }}" rel="stylesheet" >
		<link href="{{ "/css/main2.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/css/flaticon.css" | prepend: site.baseurl }}" rel="stylesheet">


		<!--<link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">-->
	</head> <!--head-->
