<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
		<div class='row'>

			<div class='span two'>
				{% include sidebar.html %}
			</div>
			<div class='span eight'>
				<article>	
					{{ content }}
				</article>
				
			</div>
		</div>
		{% include footer_2.html %}
		<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/fitvids.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jq.js" | prepend: site.baseurl }}"></script>
		</div>
	</body>
</html>